h1 {
  text-align: center;
}

.board {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

.col-xs-6 {
  margin-bottom: 10px;
}

.playName, #name {
  font-weight: bold;
}

.playResult {
  border: 1px solid green;
  padding-left: 45%;
  padding-right: 45%;
}

#total, .column-totals, #roll-button {
  margin-bottom: 30px;
  margin-top: 30px;
}
