body {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, orange, red); /* Safari */
  background: -o-radial-gradient(circle, orange, red); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, orange, red); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, orange, red); /* Standard syntax */
}

.container {
  width: 80%;
}

h1 {
  text-align: center;
  color: yellow;
  text-shadow: 3px 3px black;
  font-size: 80px;
}

h2 {
  font-size: 70px;
  font-weight: bold;
}

.form-div, .end {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

form{
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: rgba(140, 140, 140, 0.8);
  padding: 5%;

}
.end {
  display: none;
}

label {
  font-size: 50px;
  color: white;
}

input {
  color: black;
  font-size: 30px;
}

.btn-primary, .btn-warning {
  font-size:25px;
  margin-top: 12px;
  margin-left: 5px;
  width: 20%;
}

.board {
  width: 95%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: rgba(211,211,211, 0.3);
}

.col-xs-6 {
  margin-bottom: 7px;
}

.playName, #name {
  font-weight: bold;
  font-size: 20px;
}

.playResult {
  border-bottom: 1px solid black;
  padding-left: 45%;
  padding-right: 45%;
  font-size: 30px;
}

#total, .column-totals, #roll-button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-submit {
  color: black;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
  background-color: #FFCC33;
  border: black;
}

.btn-submit:hover {
  background-color: #FF6600;
  color: white;
}

.btn-success {
  width: 50%;
  margin-left: 25%;
  font-size: 20px;
}

.dots-img {
  height: 20px;
  padding-left: 20px;
}

.dice-div {
  margin: 0 auto;
}

.dice {
  width: 90%;
  margin: 0 auto;
}

.dice-hold {
  border: 3px solid yellow;
  width: 100%;
  height: 100%;
  border-radius: 8%;
}

.hold:visited {
  color:white;
}

.hold:hover {
  color: white;
  border: 3px solid black;
}

.hover:active {
  color: white;
}
